@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.no-webp .header{
  background: url("../img/header__main/header__main-backround.png") center/cover no-repeat; }

.header {
  /* Делаю разметку header выравниваю на всю страницу, ставлю background */
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu {
  /* Задаю позицию меню и центрую его */
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0 0 0;
}

.header__menu-list {
  /* Добавляю стили на сам список */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__menu-child {
  width: 86px;
  text-align: center;
}

.header__menu-child.img {
  width: auto;
  margin-left: 10px;
}

.header__child-link {
  /* Стили для каждого текста */
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

.header__menu-burger {
  display: none;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }

  .header__menu {
    width: 100vw;
    height: 100vh;
    margin: 0;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
  }

  .header__menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #4d4959;
    opacity: 0.6;
    z-index: 1;
  }

  .header__menu.active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header__menu-list {
    padding: 40px 0 0 0;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 2;
  }

  .header__menu-child.img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__child-link {
    color: aqua;
  }

  .header__menu-burger {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
  }

  .phone__line {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #4d4959;
  }

  .phone__line-second {
    margin: 10px 0 0 0;
  }

  .phone__line-third {
    margin: 20px 0 0 0;
  }
}

.webp .header{ background: url(../img/header__main/header__main-backround.webp) center/cover no-repeat; }